/* SIGNUP */
.sign.form-container {
  padding: 0 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9%;
  height: calc(100vh - (84px));
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.2rem;
}

.sign.form-container .form-title {
  font-size: 2.3em;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

#form_user .form-item-wrapper:last-child {
  margin-bottom: 1.2rem;
}

#form_user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#form_user .form-item-wrapper {
  width: 30%;
}

/* .form-subtitle {
} */

.form-sub-infos {
  font-size: 0.9rem;
}

#form_user .button-primary {
  margin: 1.5rem 0 1rem 0;
}

.button-link-form {
  color: rgb(52, 52, 255);
  padding-bottom: 0.1rem;
}

.button-link-form:hover {
  color: rgb(52, 52, 255);
  border-bottom: 1px solid rgb(52, 52, 255);
}

.flash-msg {
  border-radius: 0.3rem;
  border: 2px solid;
  max-width: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flash-msg.error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  box-shadow: -0.3px 0.1px 2.4px 0.1px #721c24;
}

.flash-msg.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  box-shadow: -0.3px 0.1px 2.4px 0.1px #856404;
}

.flash-msg.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  box-shadow: -0.3px 0.1px 2.4px 0.1px #155724;
}